/**
	Floctory's test task styles

	@author Leon Vinogradov
*/
.flocktory-test-app {
  font-family: "Trebuchet MS";
  width: 80%;
  margin: 20px auto;
}
.flocktory-test-app .input-text {
  width: 100%;
  margin-bottom: 10px;
}
.flocktory-test-app .campaign-list {
  float: left;
  width: 320px;
}
.flocktory-test-app .campaign-list ul {
  list-style: none;
  height: 490px;
  margin: 0;
  padding: 0;
  overflow-y: scroll;
}
.flocktory-test-app .campaign-list ul li label {
  display: block;
  padding: 4px 8px;
}
.flocktory-test-app .campaign-list ul li input {
  margin-right: 8px;
}
.flocktory-test-app .campaign-list ul li input[disabled] + span {
  color: #ccc;
}
.flocktory-test-app .compare-chart {
  float: left;
  margin-left: 20px;
}
.flocktory-test-app .compare-chart .axis path,
.flocktory-test-app .compare-chart .axis line {
  fill: none;
  shape-rendering: crispEdges;
  stroke: #000;
}
