/**
	Floctory's test task styles

	@author Leon Vinogradov
*/

.flocktory-test-app
  font-family "Trebuchet MS"
  width 80%
  margin 20px auto

  .input-text
    width 100%
    margin-bottom 10px

  .campaign-list
    float left
    width 320px

    ul
      list-style none
      margin 0
      padding 0
      cursor pointer

      li
        padding 4px 8px

        &:hover
          background-color #60ae44

  .compare-chart
    margin-left 340px