/**
	Floctory's test task styles

	@author Leon Vinogradov
*/

.flocktory-test-app
  font-family "Trebuchet MS"
  width 80%
  margin 20px auto

  .input-text
    width 100%
    margin-bottom 10px

  .campaign-list
    float left
    width 320px
    margin-right 20px

    ul
      list-style none
      height 455px
      margin 0
      padding 0
      overflow-y scroll

      li
        label
          display block
          padding 4px 8px

        input
          margin-right 8px

          &[disabled] + span
            color #ccc

  .compare-chart
    float left

    .axis
      path
      line
        fill none
        shape-rendering crispEdges
        stroke #000